/* @font-face {
    font-family: "PublicSans-VariableFont_wght";
    src: url(../fonts/PublicSans-VariableFont_wght.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "DMSerifDisplay-Italic";
    src: url(../fonts/DMSerifDisplay-Italic.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "DMSerifDisplay-Regular";
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
    font-weight: 400;
} */